/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

 html {
     margin: 0;
     padding: 0;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

video{
    display: block;
    margin: 0 auto;
}

 #headvid{
    margin-top: 94px;
 }

 header ul{
    list-style-type: none;
    margin: 0;
    padding: 16px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

header li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
}

header li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

#nav-title{
    font-size: 2rem;
    font-weight: 800;
    color: greenyellow;
    padding: 4px 16px 16px 16px;
}