/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
colors
#30605f Mediterranea
#43abaa Verdigris
#50bca2 Puerto Rico
#54bd81 Paris Green
#62bf6f Forest Fern
#9ac798 Mover & Shaker
 * Site Styles
 *****************************************************************************/
*{
    margin: 0;
    padding: 0;
}

html {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-color: #30605f;
 }

video{
    display: block;
    margin: 0 auto;
    border: black solid;
}

 #headvid{
    margin-top: 91px;
    padding: 2px;
 }

 header{
     background-color: #30605f;
 }

 header ul{
    list-style-type: none;
    margin: 0;
    padding: 16px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
}

header li{
    float: left;
    display: block;
    color: #62bf6f;
    text-align: center;
    padding: 16px;
}

header li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

#nav-title{
    font-size: 2rem;
    font-weight: 800;
    color: #62bf6f;
    padding: 4px 16px 16px 16px;
}

aside{
    top: 24px;
    right: 16px;
    background-color: #43abaa;
    position: fixed;
    text-align: center;
    padding: 4px;
    border: solid black;
    z-index: 9;
}

aside li{
    display: block;
    padding: 4px;
    text-align: left;
}

aside a{
    text-decoration: none;
    color: white;
}

section h2, h3{
    padding: 1rem;
}

section#watch{
    text-align: center;
    background-image: linear-gradient(to bottom right, #30605f, #54bd81);
    margin: 1rem;
    padding: 2rem;
    border: outset #333;
}

section#watch a, section#listen a{
    text-decoration: none;
    padding: 1rem;
    line-height: 2;
    font-size: 1.5rem;
    color: greenyellow;
}

section#listen{
    text-align: center;
    background-image: linear-gradient(#43abaa, #9ac798, #54bd81);
    border-top: #333 solid;
}

section#about{
    background-image: linear-gradient(#54bd81, #9ac798, #30605f);
    text-align: center;
}

.weybec-people{
    width: 100vw;
}

.weybec-people li{
    float: left;
    margin: 0 auto;
    padding: 3rem;
    display: block;
    text-align: center;
}

.weybec-people img{
    max-width: 22vw;
    border: inset black;
}

a:hover{
    color: violet;
}